<ion-content>
    <ion-grid no-padding>
        <ion-row>
            <ion-col *ngIf="modo == 0" size="12">
                $[filtros]
            </ion-col>

            <ion-col *ngIf="modo == 1" size-xs="12" size-md="12">
                <app-add-$[tablesingular-]></app-add-$[tablesingular-]>
            </ion-col>

            <ion-col *ngIf="modo == 2" size-xs="12" size-md="12">
                <app-edit-$[tablesingular-] [item]="select_element"></app-edit-$[tablesingular-]>
            </ion-col>

            <ion-col *ngIf="modo == 3" size-xs="12" size-md="12">
                <app-view-$[tablesingular-] [item]="select_element"></app-view-$[tablesingular-]>
            </ion-col>


            <ion-col no-padding size-xs="12" size-md="6" *ngFor="let item of elementos">
                <ion-card *ngIf="modo == 0" no-padding>
                    <ion-card-content no-padding>
                        <ion-grid no-padding>
                            <ion-row no-padding>
                                <ion-col (click)="view(item)" size="5" no-padding>
                                    <!-- Imagen -->
                                    <!-- <ion-img [src]="service.publicbase() + item.Image"></ion-img> -->
                                </ion-col>
                                <ion-col (click)="view(item)" size="5" no-padding>
                                    <!-- Info -->
                                   <p>ID: {{item.ID}}</p> 
                                </ion-col>
                                <ion-col size="2" no-padding>
                                    <!-- Botones -->
                                    <ion-button size="small" (click)="select_element = item;modo = 2" fill="outline">
                                        <ion-icon name="create"></ion-icon>
                                    </ion-button>
                                    <ion-button size="small" (click)="eliminarQuest(item)" fill="outline">
                                        <ion-icon name="trash"></ion-icon>
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

    </ion-grid>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button *ngIf="modo == 0" (click)="modo = 1">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>

        <ion-fab-button *ngIf="modo != 0" (click)="modo = 0">
            <ion-icon name="remove"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>