<ion-card>
  <ion-card-header>
    <ion-card-title>
      Crear un $[model]
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>


      <ion-grid>
        <ion-row>
          $[data]
        </ion-row>

        <ion-row>
          <ion-col offset="9" size="3">
            <ion-button size="small" (click)="create($event)"color="primary">Agregar</ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>

  </ion-card-content>
</ion-card>