<ion-card>
  <ion-card-header>
      <ion-card-title>Ver: {{item.ID}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
      <!-- <ion-img [src]="service.publicbase() + item.Image"></ion-img>
      <h4>Descripción: </h4><p>{{item.Description}}</p> <br> -->
  </ion-card-content>
</ion-card>