<ion-card>
  <ion-card-header>
    <ion-card-title>
      Editar un  $[model]
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>

    <ion-grid no-padding>
      <ion-row no-padding>
        <ion-col no-padding size-xs="12" size-sm="6">
          <ion-grid>
            <ion-row>
                $[data]
            </ion-row>

            <ion-row>
              <ion-col offset="9" size="3">
                <ion-button size="small" (click)="create()" color="primary">Guardar</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col no-padding size-xs="12" size-sm="6">
            <app-view-$[tablesingular-]
            [item]="item"
            ></app-view-$[tablesingular-]>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card-content>
</ion-card>